@charset "UTF-8";

// Box Sizing
// - - - - - - - - - - - - - - - - - - - - - - - - -
@if (config-get("grider.border-box-sizing") == true) {
  html, img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  * {
    &,
    &:not(img),
    &:after,
    &:before {
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }
  }
}
